/*Loyalty Registration page - desktop*/

#mobile-menu {
    display: flex;
    justify-content: center;
    width: 92vw;
    margin: auto;
    border: 1px solid var(--transparent-black);
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 60px;
    box-shadow: 0 0 5px;
    display: none;

}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    margin-left: 2.3vw;
    margin-right: 2.3vw;
}

.font-resize {
    font-size: 1.5rem;
}

.main-description {
    width: 96vw;
    height: 96vh;
    border: 1px solid var(--transparent-black);
    border-radius: 10px;
    margin: auto;
    text-justify: inter-word;
    text-align: center;
    background-image: url(../images/diaryMainImage.webp);
    background-size: cover;
    display: flex;
    align-items: end;
    margin-top: 2rem;

}

.main-description p {
    margin-bottom: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black);
    background-color: rgba(248, 248, 248, 0.784);
    border-radius: 10px;
}


#mobile-menu {
    display: none;
}

#available-tier-heading {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

#membership-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.memberships {
    width: 300px;
    height: 400px; 
    border-radius: 20px;
    box-shadow: 0 0 3px;
    margin-top: 1rem;
}


.tier-image1, .tier-image2,.tier-image3 {
    width: 290px;
    height: 200px;
    margin: auto;
    margin-top: 1rem;
}
.memberships img {
    width: 290px;
    height: 200px;
 }


.memberships h2 {
    text-align: center;
}

.memberships ul {
    text-align: center;
    list-style: none;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/*-----------------loyalty-mobile----------------------*/
@media screen and (max-width: 1020px) {
    #mobile-menu {display: flex;}
}