
#mobile-menu {
    display: flex;
    justify-content: center;
    width: 92vw;
    margin: auto;
    border: 1px solid var(--transparent-black);
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 60px;
    box-shadow: 0 0 5px;
    display: none;

}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    margin-left: 2.3vw;
    margin-right: 2.3vw;

}
.font-resize {
    font-size: 1.5rem;
}

@media screen and (max-width: 1020px) {
    #mobile-menu {display: flex;}
}

#cart-container {

  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#vegetable-container,#fruit-container, #diary-container, #meat-container, #cooking-container{
  height: 16vh;
  width: 67vw;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 20px;
}
#vegetable-container,#fruit-container, #diary-container, #meat-container, #cooking-container {
  display: flex;
}

.name {
  height: 16vh;
  width: 120px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.name p {
  text-align: justify;
}

.products {
  height: 16vh;
  width: 400px;

}

#total-container {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 12vw;
  margin-top: 1rem;
}

#total-container .name {
  width: 160px;
}

#total-item-container {
  width: 200px;
}